    .haus {
		margin:0px auto;
		position: relative; 
		width: 320px; 
		border: 2px solid #444444; 
		align: center;
    }	
    .content_header {
        position: relative; 
		color: white;
		align: center;
		border: 2px solid #444444; 
    }	
    .content_header_head {
        position: relative; 
		color: white;
		text-align: center;
		border: 1px solid #000000; 
    }	
    .content_header_line {
        position: relative; 
		color: white;
		align: left;
 		width: 294px; 
		height: 22px;
   }	
    .content_header_line_l {
        position: absolute; 
		top: 0px;
		left: 5px;
 		height: 22px;
    }	
    .content_header_line_r {
        position: absolute; 
		top: 0px;
		left: 0px;
 		width: 310px; 
		height: 22px;
		text-align: right;
    }	
	.device {
        position: relative; 
		width: 100%; 
	}
	.device_label {
        position: relative; 
		height: 40px;
		width: 264px; 
		background-color: #666666; 
		border: 3px solid #a80329;
		text-align: left;
	}
	.device_label_l {
        position: absolute; 
		height: 20px;
		width: 264px; 
		left: 5px;
		top: 2px;
		text-align: left;
		color: white;
	}
	.device_label_r {
        position: absolute; 
		height: 20px;
		width: 240px; 
		left: 20px;
		top: 20px;
		text-align: right;
		color: white;
	}
	.device_open {
        position: absolute; 
		height: 31px;
		left: 270px;
		top: 0px;
		width: 30px;
	}
	.device_sw {
        position: relative; 
        height: 50px;
		width: 100%;
	}
	.device_sw_box1 {
		position: absolute; 
		top: 0px;
		left: 0px;
 		width: 33%; 
		height: 50px;
		text-align: center;
	}
	.device_sw_box2 {
		position: absolute; 
		top: 0px;
		left: 33%;
 		width: 34%; 
		height: 50px;
		text-align: center;
	}
	.device_sw_box3 {
		position: absolute; 
		top: 0px;
		left: 67%;
 		width: 33%; 
		height: 50px;
		text-align: center;
	}
	.device_ht {
        position: relative; 
		height: 100px;
  		width: 100%;
	}
	.device_ht_temp {
		position: relative; 
		background-color: #cccccc;
	}
    .device_ht_ok {
		position: absolute; 
		top: 35px;
		left: 165px;
    }	
    .device_ht_am {
		position: absolute; 
		top: 40px;
		left: 25px;
    }	
